<div class='indiv_video'>
<md-grid-list id="bigvideoholder" cols="1" rowHeight="340">
    <md-grid-tile >
        <div id="smallvideoHolder">
            <div id='smallvideo' ></div>
        </div>
        <md-grid-tile-footer style="background: none">
          <h3 md-line>ss</h3>
          <span md-line>ss</span>
          <button md-icon-button (click)="bigScreen(item.stream)">
            <i class="material-icons">launch</i>
          </button>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>
</div>
