/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.mat-grid-tile-footer{
    backgroud: none !important;
}
#bigvideo{
    position: absolute;
    top: 0px;
    z-index: 11;
}
.closeBigVideo{
    background-image: url('https://cdn-img.easyicon.net/png/10748/1074803.gif');
    background-size: cover;
    width: 25px;
    height: 25px;
    left: 1px;
    bottom: 2px;
    color: red;
    z-index: 2000;
    cursor: pointer;
    position: absolute;;
    cursor:pointer;
    z-index: 20000;
    opacity: .9;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.22);
    border-radius: 4px;
}
.app-toolbar-filler {
  flex: 1 1 auto;
}
.conetent{
    /*width:100%;
    height:30px;
    background:red;
    float: left;*/
}
.mat-grid-tile {
 /*   border: 1px solid #cfcfcf;*/
    /*border-radius: 6px;*/
}
.mat-grid-tile .mat-figure {
        align-items: baseline  !important;        
}
.mat-grid-tile .mat-grid-tile-footer, .mat-grid-tile .mat-grid-tile-header {
    background: rgb(255, 255, 255) !important; ;
    color: #31C1A6;
}
.mat-grid-list-text {
    color: #31C1A6 !important;
}